.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        

  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  
.about {
  display: flex;
  flex-direction: row;
}

.about img {
  width: 50%;
  padding-left: 1%;
  padding-right: 1%;
}

.enviro img {
  width: 50%;
}
.enviro{
  display: flex;
  flex-direction: row;
}

.about img {
  width: 45%;
}

.about-1 img {
  padding-top: 1%;
  width: 25%;
}

.navbar {
  background-color: #739668;
  font-family: 'Georgia';
}

h1 {
  font-family: Garamond;
  text-align: center;
}


.join img {
  width: 50%;
  padding-right: 1%;

}

.navbar img {
  width: 15%;
}

.about-1 {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  gap: 15px; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.texta {
  text-align: center;
}

.join {
  display: flex;
  flex-direction: row;
}