.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
        

  }
  
  .navbar li {
    float: right;
  }
  
  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  
.about {
  display: flex;
  flex-direction: row;
}

.about img {
  width: 50%;
}

.enviro img {
  width: 50%;
}
.enviro{
  display: flex;
  flex-direction: row;
}

.about img {
  width: 45%;
}

.potato img {
  width: 30%;
}

.navbar {
  background-color: #739668; 
  font-family: 'Georgia';
}

h1 {
  font-family: Garamond;
}

.join img {
  width: 50%;
}